# env and config files
.env
scripts/_common/.Renviron
scripts/_common/config.json
scripts/**/*.json

# editors and IDE 
.claude/
postman/
.vscode

# dist, packages and dependencies
node_modules/
!bin/**
dist/

# docs
doc/

# logs
scripts/_common/log
logs/

# working files
**/*.csv
**/*.xls*
**/*.pdf
**/*.doc*
**/*.zip
**/*.txt

# exception: data sources
!scripts/fornecedores/_fontes/*.csv
!scripts/catmat/_fontes/*.xls*