.env
.claude/
CLAUDE.md
postman/
.vscode
node_modules/
doc/
scripts/_common/log
scripts/_common/.Renviron
scripts/_common/config.json
scripts/**/*.json
**/*.csv
!scripts/fornecedores/_fontes/*.csv
**/*.xls*
!scripts/catmat/_fontes/*.xls*
**/*.pdf
**/*.zip
**/*.txt
**/*.doc*
logs/