/* ==========================================================================
RESET AND GLOBAL VARIABLES
========================================================================== */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-top: var(--compras-nav-height) !important;
    background: linear-gradient(to bottom, var(--compras-theme), var(--bs-body-bg) 12%);
    color: var(--compras-text-primary);
}

:root {
    /* Status */
    --compras-success: limegreen;
    --compras-warning: orange;
    --compras-error: salmon;
    --compras-info: cornflowerblue;
    --compras-idle: gray;

    /* Glassmorphism */
    --compras-filter: url(#container-glass-5);
    --compras-c-glass: #bbbbbc;
    --compras-c-light: #fff;
    --compras-c-dark: #000;
    --compras-reflex-dark: 1;
    --compras-reflex-light: 1;
    --compras-saturation: 150%;

    /* Layout */
    --compras-padding-screen: 20px;
    --compras-padding-main: 12px;
    --compras-padding-buttons: 4px;
    --compras-nav-height: 52px;

    /* Toasts */
    --compras-toast-success: var(--compras-success);
    --compras-toast-error: var(--compras-error);
    --compras-toast-info: var(--compras-info);
    --compras-toast-warning: var(--compras-warning);
    --compras-toast-alpha: 25%;
    --compras-toast-border-left: 6px;

    /* Themes */
    --compras-theme-light: color-mix(in srgb, rgb(0, 56, 147), white 75%);
    --compras-theme-dark: color-mix(in srgb, rgb(0, 56, 147), black 10%);

    --compras-surface-1: color-mix(in srgb, var(--compras-theme-opposite), var(--bs-body-bg) 95%);
    --compras-text-primary: color-mix(in srgb, var(--compras-theme), var(--bs-body-color) 90%);

    /* Light theme (Default) */
    --compras-theme: var(--compras-theme-light);
    --compras-theme-opposite: var(--compras-theme-dark);
}

/* Dark theme */
body.dark-mode {
    --compras-theme: var(--compras-theme-dark);
    --compras-theme-opposite: var(--compras-theme-light);
}

@property --compras-icon-fill {
    syntax: '<number>';
    inherits: true;
    initial-value: 1;
}