/* ==========================================================================
MAIN CONTENT
========================================================================== */

.tab-content,
.tab-pane {
    background-color: transparent;
}

.tab-content {
    max-height: calc(100vh - var(--compras-nav-height));
    overflow-y: scroll;
}

.tab-pane {
    padding: var(--compras-padding-main);
    padding-top: calc(var(--compras-padding-main) * 2);
    min-height: calc(100vh - var(--compras-nav-height));
}

/* Chrome, Safari, Edge - webkit scrollbar API */
@supports selector(::-webkit-scrollbar) {
    *::-webkit-scrollbar {
        width: 10px;
        height: 16px;
    }

    *::-webkit-scrollbar-button {
        width: 0;
        height: 0;
        display: none;
    }

    *::-webkit-scrollbar-corner {
        background: transparent;
    }

    *::-webkit-scrollbar-track {
        background-color: var(--compras-contrast);
        border: 1px solid var(--compras-text-primary);
        border-radius: 24px;
    }

    *::-webkit-scrollbar-thumb {
        background: var(--compras-text-primary);
        border-radius: 24px;
        border: 3px solid transparent;
        background-clip: content-box;
    }
}

/* Firefox - standard scrollbar properties */
@supports not selector(::-webkit-scrollbar) {
    * {
        scrollbar-color: var(--compras-text-primary) transparent;
        scrollbar-width: thin;
    }
}

/* Utilitários Bootstrap Personalizados */
.custom-spinner-container {
    min-height: 100px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-spinner {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    gap: 10px;
}

/* Material Symbols - utilities */
.material-symbols-outlined {
    font-size: inherit;
    vertical-align: middle;
    font-variation-settings: 'opsz' 48;
    pointer-events: none;
    user-select: none;
}